<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/myapp/Admin_password_change/">Changepassword</a> <br>
<a href="/myapp/login/">login</a> <br>
<a href="/myapp/Admin_approve_EV/">view accepted EV station</a> <br>
<a href="/myapp/Admin_approve_fuel/">view accepted fuel station</a> <br>
<a href="/myapp/Admin_complaint/">view complaint</a> <br>
<a href="/myapp/Admin_view_EV/">view EV station</a> <br>
<a href="/myapp/Admin_view_fuel/">view fuel station</a> <br>
<a href="/myapp/Admin_reject_fuel/">view rejected fuel station</a> <br>
<a href="/myapp/Admin_reject_worker/">view rejected worker</a> <br>
<a href="/myapp/Admin_reject_EV">view rejected EV station</a> <br>
<a href="/myapp/Admin_review/">view review</a> <br>
<a href="/myapp/Admin_view_worker/">view WORKER</a> <br>
<a href="/myapp/Admin_approve_worker/">view accepted worker</a> <br>




</body>
</html>