<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/Workerstation_passwordwrkr_change/">Change password</a> <br>
<a href="/myapp/Workerstation_add_service/">Add service </a> <br>
<a href="/myapp/Workerstation_edit_service/">edit service</a> <br>
<a href="/myapp/Workerstation_add_service/">Manage service</a> <br>
<a href="/myapp/Workerstation_view_payment_wrkr/">view payment</a> <br>
<a href="/myapp/Workerstation_view_profile_wrkr/">view profile</a> <br>
<a href="/myapp/Workerstation_edit_profile_wrkr/">Edit worker</a> <br>
<a href="/myapp/Workerstation_signup_worker/">Worker signup</a> <br>
</body>
</html>