{% extends 'EV station/homeindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/EVstation_edit_EV_post/">
{% csrf_token %}
<table class="table table-bordered">
    <input type="hidden" class="form-control" required  name="lid" value="{{ data.id }}">
  <tr>
    <th scope="col">NAME</th>
    <th scope="col">
      <input type="text" class="form-control" required  value="{{ data.name }}" name="textfield11" id="textfield11" />
   </th>
  </tr>
  <tr>
    <td>PHOTO</td>
    <td>
      <input type="file" name="fileField" id="fileField" />
    </td>
  </tr>
  <tr>
    <td>EMAIL</td>
    <td>
      <input type="text" class="form-control" required value="{{ data.email }}" name="textfield10" id="textfield10" />
    </td>
  </tr>
  <tr>
    <td>PHONE</td>
    <td>
      <input type="text"  class="form-control" required value="{{ data.phone }}" name="textfield9" id="textfield9" />
    </td>
  </tr>
  <tr>
    <td>PLACE</td>
    <td>
      <input type="text" class="form-control" required  value="{{ data.place }}" name="textfield8" id="textfield8" />
    </td>
  </tr>
  <tr>
    <td>LATTITUDE</td>
    <td>
      <input type="text" class="form-control" required  value="{{ data.lattitude }}" name="textfield7" id="textfield7" />
    </td>
  </tr>
  <tr>
    <td>LONGTITUDE</td>
    <td>
      <input type="text" class="form-control" required  value="{{ data.longitutde }}" name="textfield3" id="textfield3" />
   </td>
  </tr>
  <tr>
    <td>STATE</td>
    <td>
      <input type="text" class="form-control" required  value="{{ data.state }}" name="textfield6" id="textfield6" />
    </td>
  </tr>
  <tr>
    <td>CITY</td>
    <td>
      <input type="text" class="form-control" required  value="{{ data.city }}" name="textfield5" id="textfield5" />
    </td>
  </tr>
  <tr>
    <td>PIN</td>
    <td>
      <input type="text" class="form-control" required  value="{{ data.pin }}" name="textfield4" id="textfield4" />
    </td>
  </tr>
 
  <tr>
    <td>&nbsp;</td>
    <td>
      <input type="submit" name="button" id="button" value="UPDATE" class="btn btn-success" />
    </td>
  </tr>

</table>
</form>
{% endblock %}
