<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/EVstation_passwordEV_change/">Changepassword</a> <br>
<a href="/myapp/EVstation_edit_EV/">Edit profile</a> <br>
<a href="/myapp/EVstation_edit_slot/">EDIT slot EV</a> <br>
<a href="/myapp/EVstation_signup_EV">EV sign up</a> <br>
<a href="/myapp/EVstation_add_slot/">slot EV</a> <br>
<a href="/myapp/EVstation_view_payment_EV/">view payment EV</a> <br>
<a href="/myapp/EVstation_view_profile_EV/">view profile EV</a> <br>
<a href="/myapp/EVstation_view_slot/">view slot EV</a> <br>
<a href="/myapp/EVstation_view_booking/">view booking EV</a> <br>

</body>
</html>