{% extends 'Fuel station/homeindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/Fuelstation_add_stock_post/">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <th scope="col">FUEL</th>
      <th scope="col"><input type="text" class="form-control" required name="textfield" id="textfield" /></th>
    </tr>
    <tr>
      <td>STOCK</td>
      <td><input type="text" class="form-control" required name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <td colspan="2"><center><input type="submit" name="button" id="button" value="ADD" class="btn btn-success" /></center></td>
    </tr>
  </table>
</form>
{% endblock %}
