{% extends 'Fuel station/homeindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/passwordfuel_post/">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <td>Old passsword</td>
      <td><input type="text"  class="form-control" required name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>New Password</td>
      <td><input type="text"  class="form-control" required name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <td>Confirm password</td>
      <td><input type="text" class="form-control" required name="textfield3" id="textfield3" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="CHANGE" class="btn btn-success" /></td>
    </tr>
  </table>
</form>
{% endblock %}
