<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/Fuelstation_passwordfuel_change/">Changepassword</a> <br>
<a href="/myapp/Fuelstation_add_staff/">add staff</a> <br>
<a href="/myapp/Fuelstation_add_stock/">add stock</a> <br>
<a href="/myapp/Fuelstation_allocation/">Allocation</a> <br>
<a href="/myapp/Fuelstation_view_allocation/">View Allocation</a> <br>
<a href="/myapp/Fuelstation_edit_profile/">Edit profile</a> <br>
<a href="/myapp/Fuelstation_edit_staff/">Edit staff</a> <br>
<a href="/myapp/Fuelstation_edit_stock/">Edit stock</a> <br>
<a href="/myapp/Fuelstation_signup_fuel/">Fuel station signup</a> <br>
<a href="/myapp/Fuelstation_view_request_to_staff/">view request user to staff</a> <br>
<a href="/myapp/Fuelstation_view_staff/">view staff</a> <br>
<a href="/myapp/Fuelstation_view_stock">view stock</a> <br>
</body>
</html>