<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/User_passwordusr_change/">Changepassword</a> <br>
<a href="/myapp/User_edit_profile_usr/">Edit profile</a> <br>
<a href="/myapp/User_history_usr/">History</a> <br>
<a href="/myapp/User_view_slot_user/">view slot</a> <br>
<a href="/myapp/User_slot_EV/">slot</a> <br>
<a href="/myapp/User_view_stock/">stock</a> <br>
<a href="/myapp/User_signup_user/">signup</a> <br>
<a href="/myapp/User_booking_usr/">view booking</a> <br>
<a href="/myapp/User_view_EV/">view EV station</a> <br>
<a href="/myapp/User_view_nearby_station/">view nearby station</a> <br>
<a href="/myapp/User_view_payment_usr/">view payment</a> <br>
<a href="/myapp/User_view_profile_usr/">view profile</a> <br>
</body>
</html>